@media only screen and (min-width: 500px) and (max-width:768px){
/*Nav Menu*/

.main-nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
}

    #one_book{
        box-sizing: border-box;
        display: grid;
        grid-template-areas: 
        "div1"
        "div2"
        "div3";
        margin:0;
        grid-gap: 5px;
        padding: 5px;
    }
    #div1{
        border: 0ch;
    }
    #div3{
        border: 0ch;
    }

    #grid2{
        box-sizing: border-box;
        display: grid;
        grid-template-areas: 
        "div4"
        "div5"
        "div6";
        margin:0;
        grid-gap: 5px;
        padding: 5px;
    }
    #div6{
        margin-right: 5px;
    }

    }
    @media only screen and (min-width: 769px) and (max-width:912px){
        #grid2{
            box-sizing: border-box;
            display: grid;
            grid-template-areas: 
            "div4 div5"
            "div6";
            margin:0;
            grid-gap: 5px;
            padding: 5px;
        }
        #footer{
            background-color: black;
            margin: 0;
        }


    }
    @media only screen and (max-width: 499px){
        .main-nav-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            list-style-type: none;
        }
       
        #one_book{
            box-sizing: border-box;
            display: grid;
            grid-template-areas: 
            "div1"
            "div2"
            "div3";
            margin:0;
            grid-gap: 5px;
            padding: 5px;
        }
        #div1{
            border: 0ch;
        }
        #div3{
            border: 0ch;
        }
       
        #div6{
            margin-right: 5px;
        }
        #grid2{
            box-sizing: border-box;
            display: grid;
            grid-template-areas: 
            "div4"
            "div5"
            "div6";
            margin:0;
            grid-gap: 5px;
            padding: 5px;
        }

        .app-icons {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
        }




    }