
/*Sign_In Page Starts*/

@media only screen and (max-width:768px){
    .scontainer{
        grid-template-columns:300px;
        grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 60px;
        width: 40%;
        margin: 0 30% 2% 30%;
        display: grid;
        gap: 20px;
        padding: 10px;
        grid-template-areas:
        "head"
        "firstName"
        "lastName"
        "email"
        "password"
        "confirm"
        "policy"
        "signup"
        "cancel"
        "login"
        ;
             
        }
    
}
/*/*Sign_In Page Ends*/

    /*Nav Menu*/

@media only screen and (min-width: 500px) and (max-width:766px){
    #grid2{
        width: 90%;
    }
.main-nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
}

    #one_book{
        box-sizing: border-box;
        display: grid;
        grid-template-areas: 
        "div1"
        "div2"
        "div3";
        margin:0;
        grid-gap: 5px;
        padding: 5px;
    }
    #div1{
        border: 0ch;
    }
    #div3{
        border: 0ch;
    }

    #grid2{
        box-sizing: border-box;
        display: grid;
        grid-template-areas: 
        "div4"
        "div5"
        "div6";
        margin:0;
        grid-gap: 5px;
        padding: 5px;
    }
    #div6{
        margin-right: 5px;
    }

    }
    @media only screen and (min-width: 767px) and (max-width:912px){
        #grid2{
            box-sizing: border-box;
            display: grid;
            grid-template-areas: 
            "div4 div5"
            "div6";
            margin:0;
            grid-gap: 5px;
            padding: 5px;
        }
        .footer{
            min-width: 1024px;
            background-color: black;
          
        }


    }
    @media only screen and (max-width: 499px){
        .main-nav-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            list-style-type: none;
        }
       
        #one_book{
            box-sizing: border-box;
            display: grid;
            grid-template-areas: 
            "div1"
            "div2"
            "div3";
            margin:0;
            grid-gap: 5px;
            padding: 5px;
        }
        #div1{
            border: 0ch;
        }
        #div3{
            border: 0ch;
        }
       
        #div6{
            margin-right: 5px;
        }
        #grid2{
            box-sizing: border-box;
            display: grid;
            grid-template-areas: 
            "div4"
            "div5"
            "div6";
            margin:0;
            grid-gap: 5px;
            padding: 5px;

        }
        
        .footer{
            min-width: 498px;
            background-color: black;
          
        }
    }
   