/*Desktop Starts*/
@media screen and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 
    
    a{
        font-size: 18px;
    }

    
    #about{
      padding: 50px 250px 50px 250px;
      margin-top: 0%;
      margin-bottom: 0px;
    }
    
    .us{
        /* padding: 45px 20px 15px 15px; */
        margin-bottom: 15px;
        font-size: 15px;
    }
    
    #au{
        font-size: 25px;
        padding-top: 15px;
        
    }
    
    .a{
      float: right;
      padding: 1% 2% 1.5% 1.5%;
    }
    

    /* Mission */
    
    #mission{
      padding: 50px 250px 50px 250px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    #ms{
        font-size: 25px;
        padding-top: 15px;
    }
    
    .mis{
        /* padding: 55px 20px 15px 15px; */
        margin-bottom: 15px;
        font-size: 15px;
    }
    
    .m{
      float: left;
      padding: 1% 2% 1.5% 1.5%;
    }
    
    #team{
      display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    text-align: center;
    }

    /* .footer-row{ */
      /* display: flex;
      gap: 30px;
      margin-bottom: 30px;
    } */

    /* .app-icons {
      display: flex;
      margin-top: 24px; */
  
    /* Brands */
    
    /* #brands{
      padding: 85px 250px 150px 300px;
      margin-bottom: 0px;
      font-size:large;
    }
    
    #brd{
        font-size: 25px;
        padding-top: 15px;
    }
    
    .brand{
       padding: 55px 20px 15px 15px;
       margin-bottom: 15px;
       font-size: 15px;
    }
    
    .b{
        float: right;
        padding: 1% 2% 1.5% 1.5%;
    }   */
    

}
/*Desktop Ends*/



/*Mobile phones starts*/

@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    
    a{
        font-size: 12px;
    }
    
    #about{
      /* background: radial-gradient(#9cc1fc,#f7f0ec); */
      /* padding: 80px; */
      margin-top: 0%;
      margin-bottom: 0px;
    
    }
    
    .us{
        /* padding: 5px; */
        margin-bottom: 15px;
        font-size: 15px;
    
    }
    
    #au{
        font-size: 25px;
        text-align: center;
        /* padding-top: 15px; */
        
    }
    
    .a{
      padding: 1.5% 1.5% 1.5% 2%;
    }
    
    /* Mission */
    
    #mission{
      /* padding: 80px; */
      margin-top: 0px;
      margin-bottom: 0px;
      color: rgb(8, 28, 50);
    }
    
    #ms{
        font-size: 25px;
        text-align: center;
        /* padding-top: 15px; */
    }
    
    .mis{
        /* padding: 55px 20px 15px 15px; */
        margin-bottom: 15px;
        font-size: 15px;
    }
    
    .m{
     padding: 1% 2% 1.5% 1.5%;
    }

    #team{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
      text-align: center;
    }

  }
    /* Brands */
    
    /*#brands{
      /* background: radial-gradient(#9cc1fc,#f7f0ec); */
      /* padding: 85px 250px 150px 300px;
      margin-bottom: 0px;
      font-size:large; 
    }
    
    #brd{
        font-size: 25px;
        padding-top: 15px;
    }
    
    .brand{
        padding: 45px 20px 15px 15px;
        margin-bottom: 15px;
        font-size: 15px;
    }
    
    .b{
        padding: 1% 2% 1.5% 1.5%;
    }
    */