@media only screen and (max-width: 400px){
    /* HEADER */
    #logo-img {
        width: 4rem;
    }
    #menu-bar{
        display: block;
    }
    #main-nav-list{
        display: none;
    }
    /* FOOTER */
    #footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-title-text {
        font-size: 1rem;
    }
    .footer-text {
        font-size: .9rem;
    }
    #footer-logo-img {
        width: 10rem;
        height: 10rem;
    }
    .footer-nav-link {
        font-size: .9rem;
    }
    #copyright {
        font-size: .7rem;
    }
}
@media only screen and (min-width: 400px) and (max-width: 650px){
    /* HEADER */
    #logo-img {
        width: 5rem;
    }
    #menu-bar{
        display: block;
    }
    #main-nav-list{
        display: none;
    }
    /* FOOTER */
    #footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-title-text {
        font-size: 1rem;
    }
    .footer-text {
        font-size: .9rem;
    }
    #footer-logo-img {
        width: 10rem;
        height: 10rem;
    }
    .footer-nav-link {
        font-size: .9rem;
    }
}
@media only screen and (min-width: 650px) and (max-width: 820px){
    /* HEADER */
    #logo-img {
        width: 6rem;
    }
    .main-nav-link {
        font-size: .8rem;
    }
    .bar-nav-list, .bar-nav-list1, .bar-nav-link, .bar-nav-link1, .bar-shopping-icon, .bar-shopping-icon1{
        display: none;
    }
    /* FOOTER */
    #footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-title-text {
        font-size: 1rem;
    }
    .footer-text {
        font-size: .9rem;
    }
    #footer-logo-img {
        width: 11rem;
        height: 11rem;
    }
    .footer-nav-link {
        font-size: .9rem;
    }
    
}
@media only screen and (max-width: 1100px){
    /* FOOTER */
    .footer-title-text {
        font-size: 1rem;
    }
    .footer-text {
        font-size: .9rem;
    }
    #footer-logo-img {
        width: 11rem;
        height: 11rem;
    }
    .footer-nav-link {
        font-size: .9rem;
    }
}